@media (max-width: 480px) {
    .page-title h2 {
        color: #9b9b9b;
        text-transform: uppercase;
        background-color: #ffffff;
        top: 126px;
        right: 26px;
        font-weight: 500;
        font-size: 27px;
        padding: 35px 10px;
        height: 100px;
        position: initial;
        width: 100%;
        border-radius: 0px;
    }
    .register-area {
        padding: 50px 0px;
    }
    .register-area .col-md-6 {
        margin-bottom: 15px;
    }
    .navbar-default .navbar-nav>li>a.active::after {
        background-color: #ffffff !important;
    }
    .navbar-default .navbar-nav>li>a::after {
        background-color: #ffffff !important;
    }
    .slider-content {
        top: 10%;
    }
    .search-btn,
    .toggle-btn {
        margin-bottom: 15px;
    }
    .proerty-th {
        margin-left: 0px;
    }
    .navbar .container {
        padding: 10px 15px;
    }
    .navbar {
        min-height: 75px;
    }
    .navbar-collapse {
        margin-top: 15px;
    }
    .navbar-brand img {
        width: 110px;
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 13px;
    }
    .navbar-nav>li>a {
        padding-left: 15px;
        padding-right: 6px;
    }
    .main-nav {
        padding-top: 4px;
    }
    .navbar-default .navbar-nav>li>a.active::after {
        bottom: -2px;
        height: 2px;
        width: 100%;
    }
    .navbar-default .navbar-nav>li>a::after {
        bottom: -2px;
        height: 2px;
    }
    .slider-area .container {
        padding: 0px 25px;
    }
    .slider-content {
        padding: 10px;
    }
    .search-toggle .mar-l-20 {
        margin-left: 0px;
    }
    .col-centered {
        display: block;
        width: 100%;
    }
    .form-inline .col-centered .form-control {
        width: 99%;
    }
    .slider-content h2 {
        font-size: 21px;
        margin-bottom: 15px;
    }
    .slider-content p {
        font-size: 12px;
        margin-bottom: 18px;
    }
    .search-form {
        padding: 15px;
    }
    .search-form .form-inline .form-group .search-bar {
        width: 100%;
    }
    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 100%;
    }
    .bootstrap-select button.dropdown-toggle {
        width: 100%;
    }
    .search-form .search-toggle,
    .content-area .result-toggle {
        margin-top: 15px;
        overflow: hidden;
        padding: 0px;
    }
    .form-inline .form-control,
    .form-inline .form-control {
        width: 100%;
    }
    .slider-content {
        top: 5%;
    }
    .slider-area {
        height: 340px;
    }
    .slider .owl-pagination {
        bottom: 165px;
        right: 0;
        width: 30px;
    }
    .page-title {
        padding-top: 50px;
    }
    .page-title h2 {
        font-size: 12px;
        margin-top: 2px;
    }
    .page-title h5 {
        font-size: 12px;
    }
    .page-title p {
        font-size: 20px;
        margin-top: 10px;
    }
    .nav>li>a,
    .nav>li>span {
        padding: 8px 26px;
    }
    .nav-tabs>li>a {
        font-size: 12px;
    }
    .tab-content ul li {
        height: 235px;
        margin-bottom: 20px;
        width: 219px;
    }
    .tab-content ul li a img {
        height: 100%;
        width: 100%;
    }
    .overlay {
        height: 235px;
        top: -104px;
    }
    .footer-area {
        position: static;
    }
    .footer-copy {
        padding: 0 20px;
    }
    .footer-copy span {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 16px;
    }
    .bottom-menu {
        display: none;
    }
    .home-lager-shearch .large-search {
        padding: 10px;
    }
    .home-lager-shearch {
        padding-top: 0px;
        margin-top: -200px;
    }
    .properties-area .pr0 {
        padding-right: 15px !important;
    }
    .pl0 {
        padding-left: 15px !important;
    }
    .layout-switcher {
        display: none;
    }
    .proerty-th-list p {
        padding-top: 10px;
    }
    .result-dynamic {
        width: 75%;
    }
    .item-delete {
        position: relative;
        top: -44px;
    }
    .recent-property {
        min-height: 700px;
    }
    .sub-menu {
        max-height: 0px;
        overflow: hidden;
    }
    #toggle {
        display: block;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .page-title h2 {
        color: #9b9b9b;
        text-transform: uppercase;
        background-color: #ffffff;
        top: 126px;
        right: 26px;
        font-weight: 500;
        font-size: 27px;
        padding: 35px 10px;
        height: 100px;
        position: initial;
        width: 100%;
        border-radius: 0px;
    }
    .home-lager-shearch .large-search {
        padding: 10px;
    }
    .home-lager-shearch {
        padding-top: 0px;
        margin-top: -200px;
    }
    .navbar-default .navbar-nav>li>a.active::after {
        background-color: #ffffff !important;
    }
    .navbar-default .navbar-nav>li>a::after {
        background-color: #ffffff !important;
    }
    .slider-content {
        top: 10%;
    }
    .bottom-menu {
        display: none;
    }
    .register-area {
        padding: 50px 0px;
    }
    .register-area .col-md-6 {
        margin-bottom: 15px;
    }
    .search-form {
        padding: 15px;
    }
    .search-form .form-inline .form-group .search-bar {
        width: 100%;
    }
    .col-centered {
        display: block;
        width: 100%;
    }
    .form-inline .col-centered .form-control {
        width: 99%;
    }
    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 100%;
    }
    .bootstrap-select button.dropdown-toggle {
        width: 100%;
    }
    .search-form .search-toggle,
    .content-area .result-toggle {
        overflow: hidden;
        color: #777777;
    }
    .search-btn,
    .toggle-btn {
        margin-bottom: 15px;
    }
    .search-toggle .mar-l-20 {
        margin-left: 0px;
    }
    .box-tree .item-tree-icon {
        padding-top: 20%;
    }
    .more-proerty {
        padding-bottom: 35px;
    }
    .navbar .container {
        padding: 10px 15px;
    }
    .navbar {
        min-height: 75px;
    }
    .navbar-collapse {
        margin-top: 15px;
    }
    .navbar-brand img {
        width: 110px;
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 13px;
    }
    .navbar-nav>li>a {
        padding-left: 15px;
        padding-right: 6px;
    }
    .main-nav {
        padding-top: 4px;
    }
    .navbar-default .navbar-nav>li>a.active::after {
        bottom: -2px;
        height: 2px;
        width: 100%;
    }
    .navbar-default .navbar-nav>li>a::after {
        bottom: -2px;
        height: 2px;
    }
    .slider-content {
        margin-left: 0px;
        padding: 25px;
    }
    .slider-content h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .slider-content p {
        font-size: 12px;
        margin-bottom: 50px;
    }
    .search-form {
        padding: 20px 30px;
    }
    .item-result {
        padding: 20px 30px;
    }
    .slider-content {
        top: 0%;
    }
    .slider-area {
        height: 340px;
    }
    .slider .owl-pagination {
        bottom: 165px;
        right: 0;
        width: 30px;
    }
    .page-title {
        padding-top: 50px;
    }
    .page-title h2 {
        font-size: 20px;
        margin-top: 2px;
    }
    .page-title h5 {
        font-size: 12px;
    }
    .page-title p {
        line-height: 20px;
        margin-top: 10px;
        font-size: 12px;
    }
    .nav>li>a,
    .nav>li>span {
        padding: 8px 26px;
    }
    .nav-tabs>li>a {
        font-size: 12px;
    }
    .overlay {
        height: 235px;
        top: -104px;
    }
    .proerty-th {
        margin-left: 0px;
    }
    .footer-copy span {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 12px;
    }
    .home-lager-shearch .large-search {
        padding: 10px;
    }
    .home-lager-shearch {
        padding-top: 0px;
        margin-top: -200px;
    }
    .pr0 {
        padding-right: 15px !important;
    }
    .pl0 {
        padding-left: 15px !important;
    }
    .proerty-th-list p {
        padding-top: 10px;
    }
    .result-dynamic {
        width: 72%;
    }
    .item-delete {
        position: relative;
        top: -44px;
    }
    .recent-property {
        min-height: 790px;
    }
    .sub-menu {
        max-height: 0px;
        overflow: hidden;
    }
    #toggle {
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .navbar {
        min-height: 85px;
    }
    .navbar-brand img {
        width: 110px;
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 13px;
    }
    .navbar-nav>li>a {
        padding-left: 6px;
        padding-right: 6px;
    }
    .main-nav {
        padding-top: 4px;
    }
    .navbar-default .navbar-nav>li>a.active::after {
        bottom: -15px;
        height: 4px;
        width: 100%;
    }
    .navbar-default .navbar-nav>li>a::after {
        bottom: -15px;
        height: 4px;
    }
    .register-area .col-md-6 {
        margin-bottom: 15px;
    }
    .slider-content {
        margin-left: 0px;
        padding: 35px;
        top: 0%;
    }
    .slider-content h2 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .slider-content p {
        font-size: 12px;
        margin-bottom: 50px;
    }
    .search-form {
        padding: 15px 0;
    }
    .form-inline .form-control,
    .form-inline .form-control {
        width: 100%;
    }
    .form-inline .col-centered .form-control {
        width: 99%;
    }
    .slider-area {
        height: 220px;
    }
    .search-form .form-inline .form-group .search-bar {
        width: 400px;
    }
    .slider .owl-pagination {
        bottom: 165px;
        right: 0;
        width: 30px;
    }
    .page-title {
        padding-top: 50px;
    }
    .page-title h2 {
        font-size: 20px;
        margin-top: 2px;
    }
    .page-title h5 {
        font-size: 12px;
    }
    .page-title p {
        line-height: 20px;
        margin-top: 10px;
        font-size: 12px;
    }
    .tab-content ul li {
        height: 235px;
        margin-bottom: 20px;
        width: 219px;
    }
    .tab-content ul li a img {
        height: 100%;
        width: 100%;
    }
    .overlay {
        height: 235px;
        top: -104px;
    }
    .footer-copy span {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 12px;
    }
    .pr0 {
        padding-right: 15px !important;
    }
    .proerty-th-list p {
        padding-top: 10px;
    }
    .result-dynamic {
        width: 67%;
    }
    .result-dynamic-small {
        width: 40%;
    }
}

@media (min-width: 969px) and (max-width: 1169px) {
    .navbar-nav>li>a {
        padding-left: 10px;
        padding-right: 10px;
    }
    .slider-content {
        margin-left: 0px;
    }
    .slider-area {
        height: 220px;
    }
    .tab-content ul li {
        height: 160px;
        width: 145px;
    }
    .tab-content ul li a img {
        width: 100%;
        height: 100%;
    }
    .overlay>h3 {
        font-size: 15px;
        left: 10px;
    }
    .proerty-th-list p {
        padding-top: 10px;
    }
    .col-centered {
        display: inline-block;
        width: 100%;
    }
    .result-dynamic {
        width: 67%;
    }
    .result-dynamic-small {
        width: 58%;
    }
    .search-toggle textarea.form-control {
        width: 80%;
    }
    .recent-property {
        min-height: 770px;
    }
}

@media (min-width: 1170px) and (max-width: 1205px) {
    .result-dynamic {
        width: 72%;
    }
}